<div class="chooseus spad set-bg" data-setbg="https://cf.bstatic.com/xdata/images/hotel/max1280x900/217596850.jpg?k=c31a144f9f43d96ed19114f3dd3dbdbfce05a47a6a697fe2d6f97e69d994e0bb&o=&hp=1">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="chooseus__text">
                    <div class="section-title">
                        <h5>WHY CHOOSE US</h5>
                        <h2>Here will be some additional information</h2>
                    </div>
                    <a href="#" class="primary-btn">Booking Now</a>
                </div>
            </div>
        </div>
    </div>
</div>