<section class="services spad" [ngStyle]="{'padding-top': paddingTop }">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-4 col-sm-6"
        *ngFor="let item of services"
      >
        <app-service-item
          [props]="{
            image:
              '' +
              this.assetsPath +
              '/images/services/services-' +
              1 +
              '.png',
            title: item.title,
            subTitle: item.subTitle
          }"
        >
        </app-service-item>
      </div>
    </div>
  </div>
</section>
