
<section class="hero spad set-bg banner" data-setbg="https://cf.bstatic.com/xdata/images/hotel/max1280x900/217598011.jpg?k=67f898b4456768d1f572844700a9fea943431c58e807ffcfdbc754927fc6a7b6&o=&hp=1" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__text">
                    <app-section-header [props]="{title:WebsiteStore.WebsiteData?.home?.banner?.banner_component?.[WebsiteStore.LanguageSelected.code]?.title, subTitle:WebsiteStore.WebsiteData?.home?.banner?.banner_component?.[WebsiteStore.LanguageSelected.code]?.sub_title}"></app-section-header>
                </div>
                <form action="#" class="filter__form">
                    <div class="filter__form__item filter__form__item--search">
                        <p>{{WebsiteStore.WebsiteData?.home?.banner?.book_component?.[WebsiteStore.LanguageSelected.code]?.email}}</p>
                        <div class="filter__form__input">
                            <input type="text" placeholder={{WebsiteStore.WebsiteData?.home?.banner?.book_component?.[WebsiteStore.LanguageSelected.code]?.email}}>
                            <span class="icon_search"></span>
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>{{WebsiteStore.WebsiteData?.home?.banner?.book_component?.[WebsiteStore.LanguageSelected.code]?.check_in}}</p>
                        <div class="filter__form__datepicker">
                            <span class="icon_calendar"></span>
                            <input type="text" class="datepicker_pop check__in">
                            <i class="arrow_carrot-down"></i>
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>{{WebsiteStore.WebsiteData?.home?.banner?.book_component?.[WebsiteStore.LanguageSelected.code]?.check_out}}</p>
                        <div class="filter__form__datepicker">
                            <span class="icon_calendar"></span>
                            <input type="text" class="datepicker_pop check__out">
                            <i class="arrow_carrot-down"></i>
                        </div>
                    </div>
                    <div class="filter__form__item filter__form__item--select">
                        <p>{{WebsiteStore.WebsiteData?.home?.banner?.book_component?.[WebsiteStore.LanguageSelected.code]?.person}}</p>
                        <div class="filter__form__select">
                            <span class="icon_group"></span>
                            <select>
                                <option value="">2 Adult, 1 Children</option>
                                <option value="">2 Adult</option>
                                <option value="">1 Adult</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit">{{WebsiteStore?.WebsiteData?.config?.header.book?.[WebsiteStore.LanguageSelected.code]?.button}}</button>
                </form>
            </div>
        </div>
    </div>
</section>