<section class="home-about">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-mg-12 col-sm-12">
        <div class="home__about__text">
          <div class="section-title">
            <app-section-header
              [props]="{
                title: WebsiteData.json.home?.about_us?.text_component?.[WebsiteData.language]?.title,
                subTitle: WebsiteData.json.home?.about_us?.text_component?.[WebsiteData.language]?.sub_title
              }"
            ></app-section-header>
          </div>
          <p
            class="
              first-para
              text-xl-left text-lg-left text-md-left text-sm-center
            "
          >
            {{WebsiteData.json.home?.about_us?.text_component?.[WebsiteData.language]?.text}}
          </p>
          <!-- <p
            class="
              last-para
              text-xl-left text-lg-left text-md-left text-sm-center
            "
          >
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque.
          </p> -->
        </div>
      </div>
      <div
        class="
          col-xl-6 col-lg-12 col-mg-12 col-sm-12
          dd-xl-block dd-lg-none dd-md-none dd-sm-none
        "
      >
        <div class="home__about__pic">
          <div class="parent">
            <img
              class="image1"
              [src]="FTP_HOST + WebsiteData.json.home?.about_us?.image_component?.[WebsiteData.language]?.image1"
              />
            <img
              class="image2"
              [src]="FTP_HOST + WebsiteData.json.home?.about_us?.image_component?.[WebsiteData.language]?.image2"
              />
          </div>
        </div>
      </div>
      <div
        class="
          col-xl-6 col-lg-12 col-mg-12 col-sm-12
          dd-xl-none dd-lg-none dd-md-block dd-xs-block
        "
      >
        <img
          class="image1 mb-10"
          [src]="FTP_HOST + WebsiteData.json.home?.about_us?.image_component?.[WebsiteData.language]?.image1"
        />
        <img
          class="image2 mt-10"
          [src]="FTP_HOST + WebsiteData.json.home?.about_us?.image_component?.[WebsiteData.language]?.image2"
        />
      </div>
      <div
        class="
          col-xl-6 col-lg-12 col-mg-12 col-sm-12
          dd-xl-none dd-lg-block dd-md-none dd-xs-none
        "
      >
        <div class="row">
          <div class="col-lg-6">
            <img
              class="image1 mb-10"
              [src]="FTP_HOST + WebsiteData.json.home?.about_us?.image_component?.[WebsiteData.language]?.image1"
              />
          </div>
          <div class="col-lg-6">
            <img
              class="image2 mt-10"
              [src]="FTP_HOST + WebsiteData.json.home?.about_us?.image_component?.[WebsiteData.language]?.image2"
              />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
