<section class="home-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home__about__text">
                    <div class="section-title">
                        <app-section-header [props]="{title:'ABOUT US', subTitle:'Welcome Quinta Gestaçós In Gerês'}"></app-section-header>
                    </div>
                    <p class="first-para">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <p class="last-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home__about__pic">
                    <div class="parent">
                        <img class="image1" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/217603382.jpg?k=86d69f73a0a1b802247b5ad8535addc1c5d914361ae4e8d08ba53a4f205e4184&o=&hp=1" />
                        <img class="image2" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/217598127.jpg?k=437c7bc44b4c0072a8fb6d744b6b18569118b906c1594392826cd6c21314517e&o=&hp=1" />
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>