<section class="home-room spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <app-section-header [props]="{title:'OUR ROOM', subTitle:'Explore Our Hotel'}"></app-section-header>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <app-basic-room [props]="{image: 'https://cf.bstatic.com/xdata/images/hotel/max1280x900/217596850.jpg?k=c31a144f9f43d96ed19114f3dd3dbdbfce05a47a6a697fe2d6f97e69d994e0bb&o=&hp=1',title: 'Single',button:'Booking now'}"></app-basic-room>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <app-basic-room [props]="{image: 'https://cf.bstatic.com/xdata/images/hotel/max1280x900/217766594.jpg?k=d64a253994a078a266b0b7b57dbce7e42097b32b34644940a6b05659cd70286e&o=&hp=1',title: 'Deluxe Room',button:'Booking now'}"></app-basic-room>
            </div>    
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <app-basic-room [props]="{image: 'https://cf.bstatic.com/xdata/images/hotel/max200/217766586.jpg?k=f8e9b98c9392ff126f58cf9f6d74f5720a9d1233995dde10fa4f9959a1b439e4&o=&hp=1',title: 'Suite',button:'Booking now'}"></app-basic-room>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <app-basic-room [props]="{image: 'https://cf.bstatic.com/xdata/images/hotel/max1280x900/217596850.jpg?k=c31a144f9f43d96ed19114f3dd3dbdbfce05a47a6a697fe2d6f97e69d994e0bb&o=&hp=1',title: 'Single',button:'Booking now'}"></app-basic-room>
            </div>
        </div>
    </div>

</section>