<section class="testimonial spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="testimonial__pic">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/217603370.jpg?k=9ccc43b38107b3628cffe6366db8a61cfe79cdc846872fcbeb5ba1731e4e527a&o=&hp=1" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="testimonial__text">
                    <div class="section-title">
                        <app-section-header [props]="{title:WebsiteData.json.home?.testimonials?.info_component?.[WebsiteData.language]?.title, subTitle:WebsiteData.json.home?.testimonials?.info_component?.[WebsiteData.language]?.sub_title}"></app-section-header>
                    </div>
                    <div class="testimonial__slider__content">
                        <div class="testimonial__slider owl-carousel">
                            <div class="testimonial__item" *ngFor="let item of WebsiteData.json.home?.testimonials?.testimonials_component?.[WebsiteData.language]?.testimonials">
                                <h5>{{item.title}}</h5>

                                <p>{{item.text}}</p>
                                <div class="testimonial__author">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="testimonial__author__title">
                                                <h5>{{item.name}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                        </div>
                        <div class="slide-num" id="snh-1"></div>
                        <div class="slider__progress"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>